@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@200;400&family=Raleway:wght@500;700&display=swap');

html,
body {
	width: 100%;
	color: #FFFFFF;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.header {
	padding-top: 111px;
	padding-bottom: 580px;
	background-color: #1E1E1E;
	margin-bottom: 245px;
}

.container {
	margin: 0 auto;
	display: flex;
	position: relative;
	max-width: 1300px;
	flex-direction: column;
	align-items: center;
}

.header__photo {
	top: 241px;
	max-width: 100%;
}

.header__main-text {
	font-size: 140px;
	text-align: center;
	letter-spacing: 0.03em;
	font-weight: 700;
	line-height: 171px;
}

.header__text {
	display: block;
	font-size: 36px;
	line-height: 44px;
}

.header__photo {
	position: absolute;
}

.main {}

.main-information {
	color: #262525;
	margin-bottom: 344px;
}

.main-information__title {
	font-size: 64px;
	font-weight: 700;
	margin-bottom: 30px;
	font-family: 'Raleway', sans-serif;
	line-height: 75px;
}

.main-information__text {
	max-width: 967px;
	font-size: 24px;
	font-family: 'Raleway';
	font-weight: 500;
	margin-bottom: 40px;
	line-height: 157.4%;
}

.main-information__button {
	border: none;
	display: flex;
	background: none;
	font-family: 'Raleway';
	line-height: 157.4%;
	align-items: center;
	flex-direction: column;
}

.main-information__button-arrow {
	margin-top: 15px;
}

.details {
	background-color: #1E1E1E;
	position: relative;
	margin-bottom: 78px;
}

.container {}

.details__iPhone-wrapper {
	background: url(../resources/iPhone_13_Pro_Black.png) center center/contain no-repeat;
	width: 100%;
	height: 596px;
	top: -159px;
	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content: center;
	font-family: 'Raleway', sans-serif;
	position: relative;
}

.details__title {
	font-weight: 700;
	font-size: 48px;
	text-transform: uppercase;
	line-height: 125%;
	margin-bottom: 60px;
}

.details__title__text {
	font-weight: 500;
	font-size: 36px;
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 157.4%;
}

.details__title__specifying-text {
	max-width: 941px;
	margin-top: 15px;
	font-weight: 500;
	font-size: 24px;
	line-height: 125%;
	color: #7A7A7A;
}

.shop {
	margin-bottom: 110px;
}

.swiper {
	width: 100%;
	max-height: 660px;
}

.swiper-wrapper {}

.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

.swiper-pagination {}

.s-button {
	width: 40px;
	height: 40px;
	padding: 12px;
	border-radius: 32px;
	box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2);
}

.shop__title {
	color: #1B1B1B;
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 48px;
	line-height: 38px;
	margin-bottom: 57px;
}

.product__info {
	padding: 24px 0 24px 0;
	background: #1B1B1B;
	border-radius: 0px 0px 32px 32px;
}

.product__name {
	text-align: left;
	margin-left: 29px;
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 22px;
	margin-bottom: 5px;
	line-height: 33px;
}

.product__color {
	display: block;
	font-family: 'Montserrat';
	font-weight: 200;
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height */
}

.product__price {
	text-align: left;
	margin-left: 29px;
	font-weight: 700;
	margin-bottom: 16px;
	font-size: 24px;
	line-height: 29px;
}

.product__basket-button {
	font-weight: 600;
	font-size: 20px;
	color: #000000;
	line-height: 24px;
	background: #FFFFFF;
	border-radius: 30px;
	padding: 21px 60px;

}

.video-block {
	background-color: #1B1B1B;
	padding-top: 78px;
	padding-bottom: 28px;
	position: relative;
	margin-bottom: 149px;
}

.video-block__title {
	font-weight: 700;
	font-size: 48px;
	line-height: 38px;
	margin-bottom: 28px;
}

.video-block__text {
	font-weight: 400;
	font-size: 20px;
	line-height: 125%;
	max-width: 607px;
	margin-bottom: 55px;
}

.video-block__video {
	max-width: 100%;
}

.video-block__corner {
	max-width: 100%;
	position: absolute;
	left: 0;
}

.form {
	margin-bottom: 42px;
}

.form__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form__image {
	margin-right: 80px;
}

.form__email-wrappper {
	max-width: 419px;
}

.form__text {
	font-size: 20px;
	text-align: left;
	line-height: 24px;
	/* max-width: 419px; */
	margin-bottom: 40px;
	color: #727272;
}

.email {
	position: relative;
}

.email__input {
	max-width: 419px;
	border: 1px solid #1B1B1B;
	border-radius: 32px;
	padding: 23px 243px 23px 24px;
}

.email__button {
	position: absolute;
	font-family: 'Montserrat';
	font-weight: 400;
	padding: 16px 42px;
	right: 7px;
	top: 7px;
	border-radius: 32px;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	background-color: #262525;
	border: none;
}

.footer {
	padding: 68px 0;
	background-color: #1E1E1E;
	color: #FFFFFF;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	max-width: 1350px;
}

.footer__info {
	text-align: left;
}

.footer__title {
	font-size: 20px;
	line-height: 23px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	margin-bottom: 14px;
}

.footer__text {
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-size: 14px;
	line-height: 21px;
	max-width: 320px;
	margin-bottom: 64px;
}

.footer__media {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;
}

.footer__link-image {
	width: 13px;
	height: 13px;
	padding: 7px;
	background: rgb(255, 255, 255, 0.1);
	border-radius: 32px;
}

.footer__menu-wrapper {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
}

.footer__menu-column {
	margin-right: 24px;
}

.footer__menu-title {
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 28px;
	text-align: left;
}

.footer__menu-title_Stay-up {
	position: absolute;
	right: 48px;
	top: 0;
}

.footer__menu {}

.footer__menu-item {
	margin-bottom: 12px;
	text-align: left;
}

.footer__menu-item:last-child {
	margin-bottom: 0px;
}

.footer__menu-link {

	color: #FFFFFF;
	text-align: left;
	font-size: 14px;
	line-height: 21px;
	text-decoration: none;
}

.footer__menu-input-wrapper {
	position: relative;
}

.footer__menu-input {
	color: #d8d8d8;
	border: none;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	border-radius: 32px;
	padding: 16px 56px 16px 24px;
	line-height: 21px;
	font-weight: 200;
	background-color: #545454;
}

.footer__menu-input-telegram-icon {
	position: absolute;
	top: 18px;
	right: 24px;
}